:root{
    --p_color : #613ad3;
    --box-shadow-bottom: 0 10px 10px #4832d41f;
    --border: 2px solid #4832d41f;
    --box-shadow: 5px 5px 2px #4832d41f;
    --black: #212529;
    --b_bg: #f2efff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none !important;
    font-family: 'ubuntu',sans-serif !important;
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
}
.light_bg{
    background: var(--b_bg);
}
.flex_space{
    display: flex;
    justify-content: space-between;
}
.flex_start{
    display: flex;
    justify-content: flex-start;
}
.key_word{
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    padding-bottom: 2px;
    border-bottom: 2px solid var(--p_color);
    width: fit-content;
}
.h1{
    font-weight: 700;
}
.sub_text{
    font-size: 14px;
    font-weight: 500;
    color: #0000006c;
}
.p-l-f{
    padding-left: 5%;
    padding-right: 5%;
}
.p-5p{
    padding: 5%;
}
.p-t-p-10{
    padding-top: 10px;
    padding-bottom: 10px;
}
@media(max-width:992px){
    .ps-50{
        padding-top: 50px;
        padding-bottom: 50px;
    }
}



.primary_color{
    color: var(--p_color) !important;
}
.scroll_bar::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}
.scroll_bar::-webkit-scrollbar-thumb{
    background-color: #d3d3d3;
    border-radius: 10px;
}