
/*Navigation Bar*/
.container-fluid{
    justify-content: space-between !important;
}
.navbar-brand{
    font-size: 25px;
    font-weight: 600;
    color: var(--black);
    text-transform: uppercase;
}
.navbar-brand span{
    color: var(--p_color);
    font-size: 35px;
    margin: 0 2px;
}
.navbar-toggler{
    border: none !important;
}
.navbar-toggler:focus{
    box-shadow: none !important;
}
.navbar-nav{
    align-items: center;
    gap: 3rem;
}
@media (max-width: 992px){
    .navbar-nav{
        align-items: flex-start !important;
        gap: 2rem;
        margin: 20px 0;
    }
}
.me-auto{
    margin-right: 0 !important;
}
.navbar-collapse{
    flex-grow: 0 !important;
}
.nav-link{
    font-family: 'ubuntu',sans-serif;
    font-weight: 450;
    color: var(--black);
}
.hover_item a{
    position: relative;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.hover_item a::after{
    position: absolute;
    content: '';
    background: var(--p_color);
    height: 1.5px;
    width: 100%;
    bottom: 5px;
    left: 0;
    transform: scale(0,1);
    transition: 0.3s ease-in-out;
}
.hover_item a:hover::after{
    transform: scale(1,1);
}
.hover_item a:hover{
    color: var(--p_color);
}
/*hero_section*/
#hero_section{
    height: fit-content;
}
#hero_section .hero_section{
    padding: 0 !important;
}
@media (min-width: 992px) {
    .hero_title{
        font-size: 70px;
    }
    .hero_title span{
        font-size: 80px;
    }
}
.hero_title{
    text-transform: capitalize;
}
.hero_title span{
    color: var(--p_color);
    text-transform: uppercase;
}
.hero_btns{
    margin: 20px 0;
    gap: 40px;
}

/*features_section*/
#features_section{
    background: var(--b_bg) !important;
}
.feat{
    margin: 20px 0;
}
.feat_img{
    width: auto;
    height: 20%;
    margin-bottom: 10px;
}
.feat_title{
    font-size: 15px;
    color: var(--p_color);
    text-transform: capitalize;
}
.feat_p{
    font-size: 13px;
    font-weight: 500;
    opacity: 0.8;
    line-height: 15px;
    margin-bottom: 0 !important;
}
/*process*/
.sch{
    margin-bottom: 20px;
}
.h2f a{
    color: var(--p_color) !important;
    text-decoration: underline;
    font-weight: 500;
}
/*carousel*/
#carousel_section{
    background: var(--b_bg) !important;
}