:root{
    --p_color : #613ad3;
    --box-shadow-bottom: 0 10px 10px #4832d41f;
    --border: 2px solid #4832d41f;
    --box-shadow: 0 0 10px 5px #4832d41f;
    --black: #212529;
    --b_bg: #f2efff;
}
.m_f{
    margin: 5%;
}
@media(max-width: 576px){
    .product_desc{
        width: 100% !important;
    }
}
.share_product{
    cursor: pointer;
}
.product_img_section{
    box-shadow: var(--box-shadow);
}